.background {
	-fx-background-color: #7a7a7a;
}

.window {
	-fx-background-color: #ffffff;
	-fx-bolder-style: solid;
	-fx-border-width: 1;
	-fx-border-color: red;
}

.digit {
	-fx-font-size: 15;
	-fx-background-radius: 2;
	-fx-border-radius: 4;
	-fx-font-family: Arial;
	-fx-border-color: #808080;
	-fx-border-width: 0.3;
}

.digit:pressed {
	-fx-background-color: #235891;
	-fx-border-width: 2;
	-fx-border-radius: 2;
	-fx-background-radius: 2;
}

.digit:hover {
	-fx-border-color: #4487d0;
	-fx-background-color: #8eb7e3;
	-fx-border-width: 2;
	-fx-border-radius: 2;
	-fx-background-radius: 2;
}

.digit:focused {
	-fx-border-color: #4487d0;
	-fx-border-width: 4;
	-fx-border-radius: 50;
	-fx-background-radius: 2;
	-fx-border-style: dotted;
}

.buttons_green {
	-fx-background-color: #80ff80;
}

.buttons_orange {
	-fx-background-color: #ff8000;
	-fx-text-fill: white;
}

.buttons_gray {
	-fx-background-color: #ded1cb;
}

.result {
	-fx-text-fill: white;
	-fx-background-color: #afafaf;
	-fx-font-size: 15;
	-fx-background-radius: 2;
}

.result:hover {
	-fx-text-fill: white;
}